
<form *ngIf="!isUserNameSet" (ngSubmit)="createUser()" class = "formUserName">
    <p class = 'pUserPrompt'>Username</p>
    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="username" placeholder="Enter username">
    <p></p>
    <button type = "submit" class="btn btn-primary">Submit</button>
</form>

<ul *ngFor="let message of messages" class = "messages">
    <div class="messagesContainer" *ngIf="isUserNameSet">
        <p class = "pUserPrompt">{{username}}: </p><li class = 'pUserPrompt'>{{message}}</li>
    </div>
</ul>

<form *ngIf="isUserNameSet" class = "formMessage">
    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="message" placeholder="Write something"> <button (click)="sendMessage()" class="btn btn-primary">Send</button>
</form>